<body>
    <div class="container">
        <div class="column" #column (dragover)="dragOver($event)" (dragleave)="dragLeave()" (drop)="dragDrop($event,'all')">
            <h1 class="all-tasks heading">Pending Tasks</h1>
            <div class="item" #item draggable="true" (dragstart)="dragStart(task,'all',i)" (dragend)="dragEnd('all')" *ngFor="let task of allTasks ; let i = index">
                <div> {{task}}</div>
            </div>
            <div class="add-btn-group">
                <div class="add-btn" (click)="showInputBox('all')">
                    <span class="plus-sign">+</span>
                    <span class="">Add Item</span>
                </div>
                <div class="add-btn" [class.solid]="!contentEditable" (click)="hideInputBox('all')">
                    <span (click)="addTask()">Save Item</span>
                </div>
            </div>
            <div class="add-container" [style.display]="contentEditable?'block':'none'">
                <input #item="ngModel" [(ngModel)]="task" />
            </div>
        </div>
        <div class="column" #column (dragover)="dragOver($event)" (dragleave)="dragLeave()" (drop)="dragDrop($event,'inProgress')">
            <h1 class="in-progress heading">In progress</h1>
            <div class="item" #item draggable="true" (dragstart)="dragStart(task,'inProgress',i)" (dragend)="dragEnd('inProgress')" *ngFor="let task of inProgress ; let i = index ">{{task}}</div>

        </div>
        <div class="column" #column (dragover)="dragOver($event)" (dragleave)="dragLeave()" (drop)="dragDrop($event,'completed')">
            <h1 class="completed heading">Completed</h1>
            <div class="item" #item draggable="true" (dragstart)="dragStart(task,'completed',i)" (dragend)="dragEnd('completed')" *ngFor="let task of completed ; let i = index ">{{task}}</div>

        </div>
    </div>
</body>